*/.DS_Store
.DS_Store
**/DEzoomcamp.code-workspace
**/ny_taxi_postgres_data/*
**/.ipynb_checkpoints/
**/*.csv
**/*.gz
**/**/**/*.hcl
**/**/**/*.backup
**/**/**/*.terraformrc
**/**/**/terraform.rc
**/**/**/.terraform/*
**/**/**/*.tfstate
**/**/**/.env